header {
    color: lightgray;
    background-color: blue;
    font-size:60px;
    display: block;
    text-align: center;
    
}

body {
    background-color: lightblue;


    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}