div#container{

}
header {
    color: lightgray;
    background-color: blue;
    font-size:60px;
    display: block;
    text-align: center;
    
}

body {
    background-color: lightblue;


    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
main {
    margin-bottom: 60px;
  }
footer {
    background-color: #af6b6b;
    height: 60px; 
    width: 800px;
    position: fixed;
    bottom: 00;
  }